.form-results {
    color: #000000;
    .form-results-responses {
        font-size:24px;
        font-weight: 700;
    }
    .form-field {
        font-size:16px;
        font-weight:600;
    }
    .form-field-response {
        font-size: 12px;
        margin-bottom:10px;
    }
}